body {
    background-color: #222;
}

.timerCell
{
    padding-top: 32px;
    text-align: center;
    padding: 40px 0;
}

.timer-controls
{
    text-align: center;
}

.debugVar 
{

}

.hidden
{
    display: none;
}

.streamui
{
    background-color: #ff00ff;
    width: 100%; 
    height: 500px
}

.streambg
{
position: absolute;

}




.streamcontainerchroma
{
    background-color: #00ff00;
    padding: 60px;
}

.streamcontainer {
    position: relative;
}

.streamheader
{
    font-weight: bold;
}
  
.streamtext 
  {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 44px;
    color: white;
    font-family: 'Tapestry', cursive;
  }
  
  img { 
    width: 100%;
    height: auto;
  }







.settingItem
{
    padding-bottom: 10px;
}

.debugVarValue
{
    padding: .2rem .4rem;
    padding-top: 2px;
    font-size: .875em;
    color: #fff;
    background-color: #212529;
    border-radius: .2rem;
}

.timerPicker
{

}
